[Unit]
Description=Monitoring Interface Rabbit
After=syslog.target network.target postgresql.service rabbitmq-server.service redis.service

[Service]
User=root
Type=notify
ExecStart=/usr/bin/dotnet /opt/monitoring/rabbit/RabbitInterface.dll --contentRoot /opt/monitoring/rabbit --environment Production
SuccessExitStatus=143
MemoryMax=4096M
Restart=always
RestartSec=10
KillSignal=SIGINT
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ConnectionStrings__DefaultConnection=Host\x3dlocalhost\x3bDatabase\x3dmonitoring_core\x3bUsername\x3dmonitoring\x3bPassword\x3ddbpassword
[Install]
Alias=monitoring_interface_rabbit.service
WantedBy=multi-user.target
