/* IRANSansX Variable Font */
@font-face {
  font-family: 'iransansxv';
  src: url('./fonts/woff2/IRANSansXV.woff2') format('woff2-variations'),
       url('./fonts/woff2/IRANSansXV.woff2') format('woff2'),
       url('./fonts/woff/IRANSansXV.woff') format('woff-variations'),
       url('./fonts/woff/IRANSansXV.woff') format('woff');
  font-weight: 100 1000;
  font-display: fallback;
}

/* IRANSansX Static Fonts (Fallback for older browsers) */
@font-face {
  font-family: 'iransansx';
  src: url('./fonts/woff2/IRANSansXV.woff2') format('woff2'),
       url('./fonts/woff/IRANSansXV.woff') format('woff');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'iransansx';
  src: url('./fonts/woff2/IRANSansXV.woff2') format('woff2'),
       url('./fonts/woff/IRANSansXV.woff') format('woff');
  font-weight: 700;
  font-display: fallback;
}